<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <title>Title</title>
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>
<h1 class="m-2 text-dark" style="text-align: center">예시</h1>
<span th:text="${data}">html data</span>
<h1 class="m-2 text-dark" style="text-align: center">1. 표준 HTML 주석</h1>
<!--
<span th:text="${data}">html data</span>
-->
<h1 class="m-2 text-dark" style="text-align: center">2. 타임리프 파서 주석</h1>
<!--/* [[${data}]] */-->
<!--/*-->
<span th:text="${data}">html data</span>
<!--*/-->
<h1 class="m-2 text-dark" style="text-align: center">3. 타임리프 프로토타입 주석</h1>
<!--/*/
<span th:text="${data}">html data</span>
/*/-->
</body>
</html>

