<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <title>Title</title>
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>
<ul class="list-group mt-3">
  <li class="list-group-item">산술 연산
    <ul class="list-group mt-3">
      <li class="list-group-item">10 + 2 = <span th:text="10 + 2"></span></li>
      <li class="list-group-item">10 % 2 == 0 = <span th:text="10 % 2 == 0"></span></li>
    </ul>
  </li>
  <li class="list-group-item">비교 연산
    <ul class="list-group mt-3">
      <li class="list-group-item">1 > 10 = <span th:text="1 &gt; 10"></span></li>
      <li class="list-group-item">1 gt 10 = <span th:text="1 gt 10"></span></li>
      <li class="list-group-item">1 >= 10 = <span th:text="1 >= 10"></span></li>
      <li class="list-group-item">1 ge 10 = <span th:text="1 ge 10"></span></li>
      <li class="list-group-item">1 == 10 = <span th:text="1 == 10"></span></li>
      <li class="list-group-item">1 != 10 = <span th:text="1 != 10"></span></li>
    </ul>
  </li>
  <li class="list-group-item">조건식
    <ul class="list-group mt-3">
      <li class="list-group-item">(10 % 2 == 0)? '짝수':'홀수' = <span th:text="(10 % 2 == 0)?
'짝수':'홀수'"></span></li>
    </ul>
  </li>
  <li class="list-group-item">Elvis 연산자
    <ul class="list-group mt-3">
      <li class="list-group-item">${data}?: '데이터가 없습니다.' = <span th:text="${data}?: '데이터가
없습니다.'"></span></li>
      <li class="list-group-item">${nullData}?: '데이터가 없습니다.' = <span th:text="${nullData}?:
'데이터가 없습니다.'"></span></li>
    </ul>
  </li>
  <li class="list-group-item">No-Operation
    <ul class="list-group mt-3">
      <li class="list-group-item">${data}?: _ = <span th:text="${data}?: _">데이터가 없습니다.</
        span></li>
      <li class="list-group-item">${nullData}?: _ = <span th:text="${nullData}?: _">데이터가
없습니다.</span></li>
    </ul>
  </li>
</ul>
</body>
</html>